{{define "admin/index"}}
{{template "admin/header" .}}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            控制面板
        </h1>
    </section>

    <section class="content container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{.Data.articleNum}}</h3>
                        <p>文章数</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-newspaper-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3>{{.Data.lastArticlePublish}} </h3>
                        <p>距离上次发布文章的天数</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{.Data.commentNum}}</h3>
                        <p>评论数</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-comments-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3>{{.Data.lastComment}}</h3>
                        <p>距离上次收到评论的天数</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-lime-active">
                    <div class="inner">
                        <h3>{{.Data.tagNum}}</h3>
                        <p>标签数</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-tags"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-navy">
                    <div class="inner">
                        <h3>{{.Data.memoryUsage}} M</h3>
                        <p>内存占用</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-file-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-maroon">
                    <div class="inner">
                        <h3>{{.Data.gcNum}}</h3>
                        <p>内存回收次数</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-trash-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-teal">
                    <div class="inner">
                        <h3>{{.Data.routineNum}}</h3>
                        <p>运行中协程数量</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-meh-o"></i>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
{{template "admin/footer" .}}
{{end}}