<div id="sticky">
  <div class="row">
    <div class="col-md-6">
      <div class="item d-flex">
        <div class="thumbnail">
          <a href="https://www.liaocp.cn/archives/247.html" title="Jasmine - 简约、美观的博客主题">
            <img width="130" height="90" src="https://www.liaocp.cn/usr/themes/jasmine/docs/theme.png" alt="">
          </a>
        </div>
        <div class="content d-flex flex-column justify-content-between">
          <div class="title py-1">
            <a href="https://www.liaocp.cn/archives/154.html" title="2022 致敬每一个扛住了生活的平凡人">
              <h2 class="fs-6">坚持，让好事发生</h2>
            </a>
          </div>
          <div class="excerpt py-1">
            <p>致敬每一个扛住了生活的平凡人</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="item d-flex">
        <div class="thumbnail">
          <a href="https://www.liaocp.cn/archives/247.html" title="Jasmine - 简约、美观的博客主题">
            <img width="130" height="90" src="https://www.liaocp.cn/usr/themes/jasmine/docs/theme.png" alt="">
          </a>
        </div>
        <div class="content d-flex flex-column justify-content-between">
          <div class="title py-1">
            <a href="https://www.liaocp.cn/archives/154.html" title="2022 致敬每一个扛住了生活的平凡人">
              <h2 class="fs-6">坚持，让好事发生</h2>
            </a>
          </div>
          <div class="excerpt py-1">
            <p>致敬每一个扛住了生活的平凡人</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
